<link rel="stylesheet" href="../css/home.css"> 
{{#this}} 
{{#ifFourth @index}}<div class="row">{{/ifFourth}}
	<figure class="col-md-3 col-sm-6 col-xs-12">
		<div class="thumbnail" id="template">
			<img src="{{picture}}" id="picture" alt="picture">
			<div class="movie-info">
				<h3 class="description">{{name}}</h3>
				<p class="description">{{description}}</p>
			</div>

			<div class="caption">
				<p>
					<a href="#/movies-info/{{name}}" class="btn btn-primary" role="button">More Info</a>
					<a href="#/watchlist/{{name}}" class="btn btn-default" id="btn-add-to-watchlist" role="button">
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>Add to Watchlist
					</a>
				</p>
			</div>
		</div>
	</figure>
{{#ifFourthLast @index}}</div>{{/ifFourthLast}} 
{{#if @last}}</div>{{/if}} {{/this}}