<link rel="stylesheet" href="../css/home.css"> {{#this}}
<figure class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
	<div class="thumbnail" id="template">
		<a href="#/movies-info/{{name}}" class="watch-trailer">
			<img src="{{picture}}" id="picture" alt="picture">

			<div class="movie-info">
				<h3 class="description">{{name}}</h3>
				<p class="description">{{description}}</p>
				<p class="description"><strong><u>Genre</u>: </strong>{{genre}}</p>
				<p class="description"><strong><u>Actors</u>: </strong>{{actors}}</p>
				<p class="description">
					<span>
						<strong><u>Rate</u>: </strong>{{rate}}
					</span>
					<span class="glyphicon glyphicon-star"></span>
				</p>
			</div>

			<div class="caption">
				<p>
					<img id="facebook-share" class="share-btn" src="http://theonefly.com/wp-content/uploads/2014/12/fbshare.png" />
					<a href="#/watchlist-remove/{{name}}" class="btn btn-primary" id="btn-add-to-watchlist" role="button">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Remove from Watchlist
					</a>
				</p>
			</div>
		</a>
	</div>
</figure>
{{/this}}